# Node/npm dependencies
node_modules/
npm/
node/
npm-cache/
node-gyp/
frontend/.npm-cache/
frontend/${HOME}/
Package Cache/
gitextensions-*/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
venv/
backend/venv/
frontend/venv/

# Logs
*.log
logs/

# Environment files
.env
*.env

# Build & compiled output
frontend/build/
frontend/dist/
frontend/memory.sqlite
backend/dist/

# OS/system files
.DS_Store
Thumbs.db
PowerShell-7.5.1-win-x64.msi
.npm-cache/
